<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de Eventos - Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <section>
        <a class="btn btn-primary btn-sm logout" href='/logout'>Logout</a>
    </section>
    <header class="header">
        <p>Bem-vindo,
            <%- usuario.nome %>
        </p>
        <h1>Cadastro de Usuários</h1>
        <h4>Forneça os dados do usuário para seu cadastro</h4>
    </header>
    <section>
        <form action="/novoUsuario" method="post">
            <div class="col-sm-4">
                <label for="nome" class="col-form-label">Nome</label>
                <input type="text" name="usuario[nome]" class="form-control" placeholder="Nome">
            </div>
            <div class="col-sm-4">
                <label for="senha" class="col-form-label">Senha</label>
                <input type="password" name="usuario[senha]" class="form-control" placeholder="Senha">
            </div>
            <div class="col-sm-4">
                <label for="confirma" class="col-form-label">Confirma</label>
                <input type="password" name="usuario[confirma]" class="form-control" placeholder="Senha">
            </div>
            <br>
            <button type="submit" class="btn btn-primary topbuffer">Enviar</button>
        </form>
    </section>
    <footer class="footer">
        <small>Sistema de Cadastro de Eventos</small>
    </footer>
</body>

</html>